body {
  font-size: 1.5rem;
  box-sizing: border-box;
  position: relative;
}

.light {
  background: #f3f9ff;
  color: #282c34;
}

.dark {
  background: #282c34;
  color: #f3f9ff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#text {
  width: 100%;
  height: 6rem;
  font-size: 1.25rem;
}

.button-area {
  display: flex;
  column-gap: 3%;
}

#clip {
  width: 85%;
  font-size: 1.5rem;
}

#share {
  width: 10%;
}
